<div class="mx-auto mt-3">
    <h2 style="text-align: center;">Todos filter <button id="clear-button" class="swing btn btn-primary clear-button">clear</button></h2>
    <div class="d-flex justify-content-center mt-4">
  <button id="high-button" type="button" style="border: none" class="swing btn btn-primary mx-2 stats">
    High: <span  id="high" style="background-color: #ee2f24" class="badge">4</span>
  </button>
  <button id="medium-button" type="button" style="border: none" class="swing btn btn-primary mx-2 stats">
    Medium: <span id="medium" style="background-color: #f68b46" class="badge medium">4</span>
  </button>
  <button id="low-button" type="button" style="border: none" class="swing btn btn-primary mx-2 stats">
    Low: <span id="low" style="background-color: #5cc7d3" class="badge low">4</span>
  </button>
</div>
</div>
